:root{
    --black : #000;
    --white: #FFF; 

}
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1rem = 16px */
    font-family: "Krub", sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
}
/* MAIN */

h1{
    font-size: 3.5rem;
    padding: 1.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

p{
    font-size: 2rem;
}
.nav{
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
}

.nav span{
    font-size: 1.5rem;
}

.container-info{
    height: 45rem;
    background-image: url(../assets/img/background-info.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}


.text-container-subtitle {
    font-size: 3.5rem;
    padding: 1.5rem;
}

.about-coffee .about-text{
    margin-top: 2rem;
    text-align: center;
}
.about-coffee .about-text p{
    margin-top:2rem ;
}

.container-cards {
    display: inline;
    column-gap: 2rem;
    padding: 3rem;
    text-align: center;
}

.container-cards .cards{
    margin: 4rem 0;
}

.container-cards .cards h3,
.container-cards .cards p,
.container-cards .cards .button--conocemas {
    margin-top: 2rem;
}

.container-cards .cards img{
    width: 100%;
}

.container-cards .cards .button--conocemas{
    width: 90%;
    height: 3rem;
    font-size: 1.5rem;
    background-color: var(--white);
    border: .2rem solid var(--black);
    border-radius: 1rem;
    color: black;
}

.container-cards .cards .button--conocemas:hover{
    color: var(--white);
    background-color: black;
    cursor: pointer;
}

@media (min-width: 480px){
    .container-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .container-cards .cards .button--conocemas{
        width: 90%;
    }
}

@media (min-width: 770px){
    .container-cards{
        display: flex;
    }

    .container-cards .cards .button--conocemas{
        width: 70%;
    }
}

@media (min-width: 1140px){
    .container-cards{
        display: flex;
    }
}

.main--desserts {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);
}

.title--desserts{
    margin-top: 2.5rem;
}

.description--title{
    margin: 3.5rem 0;
}
.container--desserts{
    display: inline;
}

.desserts{
    text-align: center;
    height: auto;
    padding: 1rem;
}

.desserts img{
    height: 70%;
    width: 70%;
    border-radius: 100%;
}

.name-product
{
    margin-top: 1.5rem;
}
.description-product{
    margin: 2rem 0;
}
@media (min-width: 480px){
    .container--desserts{
        display: inline;
    }
}

@media (min-width: 800px){
    .container--desserts{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}